# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_ENV=production
DATABASE_URL="mysql://jhon:jhon@localhost:3306/db"

DATABASE_USER="jhon"
DATABASE_PASSWORD="jhon"
DATABASE_NAME="db"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

PORT=3001
ORIGIN=https://domainkamu.com
JWT_SECRET=isi sendiri dengan string yang panjang dan acak
JWT_EXPIRES_IN=terserah, misalnya 1h untuk 1 jam, 7d untuk 7 hari, dll. Sesuaikan dengan kebutuhan aplikasi Anda